.newQuoteCont{
    // border: 3px solid white;

    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;

    .btnQuote{
        display: none;
    //    background-color: transparent;
    //    font-size: 4vmin;
    //    cursor: pointer;
    //    font-family: inherit;
    //    color: inherit;
    //    text-shadow: 2px 2px black;
       
       
    }
}
.dataQuote{
        text-align: center;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 3px solid white;
        width: 15rem;
        font-size: 1rem;
        text-align: center;
        
        &::placeholder
        {
            color: white;
            font-family: inherit;
            text-shadow: 2px 2px black;
        }
}